pandas==2.2.0
numpy==1.26.4
keras
tensorflow
keras-tuner
scikit-learn==1.4.1
matplotlib==3.8.3
seaborn==0.13.2
scipy==1.12.0
requests==2.31.0
torch==2.2.0+cu118  # Replace with the latest CUDA version supported by your GPU
torchvision==0.17.0+cu118
torchaudio==2.2.0+cu118